@font-face {
  font-family: SofiaSans;
  src: url(https://res.cloudinary.com/ibarak/raw/upload/v1673543905/fonts/x3hvsswiasrsussafazx.ttf);
}

@font-face {
  font-family: Chewy;
  src: url(https://res.cloudinary.com/ibarak/raw/upload/v1673543920/fonts/ifvbqbgqdfb9diev2dba.ttf);
}
